__pycache__/
.DS_Store
network.log
rockyou.txt
.idea
rockyou.txt
instagram_cookies.json
proxy/__pycache__/
proxy/__pycache__/tor_proxy.cpython-313.pyc
proxy/__pycache__/tor_proxy.cpython-313.pyc
config.json
passwords.txt
